<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>chatterbox</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" type="text/css" href="bower_components/chosen/chosen.min.css">

    <!-- dependencies -->
    <!-- your scripts -->

  </head>
  <body>
    <div id="main">
      <h1>chatterbox</h1>
      <form id="chatterbox" ""action="action" action="http://">
        <select data-placeholder="Choose a room..." id="chosen-select-room"></select>
        <div></div>
        <br/>
        <textarea id="chatler"></textarea>
        <br>
        <a class="myButton" id="chatl">Send</a>
      </form>

    </div>

    <script src="bower_components/xss/dist/xss.js"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/chosen/chosen.jquery.min.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>

    <script src="env/config.js"></script>
    <script src="scripts/app.js"></script>

  <script type="text/template" id="item-template">
    <div class="msg">
      <a class="username "><%- username %> : </a>
      <span><%- text %></span>
      <br>
      <a class="timeStamp"><%- timestamp %></a>
    </div>
  </script>

  </body>
</html>
