body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 55%;
    margin: auto;
    text-align: left;
    background: white;
    padding: 5% 6%;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 2%;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 2%;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.msg:hover {
}

#chatterbox {
    width:20%;
    height:15%;
    left:55%;
    position:fixed;
    z-index:1;
}

#chatler {
    border-radius:8px;
    font-size:18px;
    width:100%;
    height:80%;
}

.username:hover {
  color:rgb(112, 111, 237);
  cursor: pointer; 
  cursor: hand;
}

.username {
  font-weight:600;
}

.msg {
  word-wrap: break-word;
  background:rgb(192, 222, 237);
  border: 2px solid rgb(0, 132, 180);
  border-radius: 15px;
  display: table;
  padding: 10px 10px 10px 5px;
  margin-bottom: 10px;
  font-size: 15px;
  max-width: 50%;
}

.longMessage {
  word-break:break-all;
}

.friendMessage {
    background:rgb(180, 255, 222);
    font-weight:bold;
}

.timeStamp {
  font-weight:bold;
  background:rgb(180, 220, 222);
  border-radius: 5px;
  font-size:12px;
  font-variant:small-caps;
}

.addRoomButton {
    position:relative;
    top:3px;
    -moz-box-shadow: 0px 5px 4px -2px grey;
    -webkit-box-shadow: 0px 5px 4px -1px grey;
    background-color:#599bb3 ;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-size:12px;
    font-weight:bold;
    padding:7px 9px;
    text-decoration:none;
    text-shadow:0px 1px 0px black;
}

.addRoomButton:hover {
  background-color:#408c99;
}

.myButton {
    position:relative;
    top:5px;
    -moz-box-shadow: 0px 10px 11px -7px grey;
    -webkit-box-shadow: 0px 10px 11px -7px grey;
    background-color:#599bb3 ;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-size:18px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px black;
}

.myButton:hover {
    background-color:#408c99 ;
}

.myButton:active {
    top:7px;
}

#chosen-select-room{
    width:100%;
    padding-bottom: 15px;
}
